{% extends 'base.html' %}

{% block content %}






<div class="container">
    <form method="POST" action="{% url 'Camera_app:fileupload' %}" enctype="multipart/form-data">
        {% csrf_token %}
<!--        {% bootstrap_form fileuploadForm %}-->
<!--        <input type="submit" class="btn btn-primary col-12" value="제출">-->
        <input  type="file" accept="image/*;capture=camera" name="Camera">
        <input type="hidden" name="lat" class="lat">
        <input type="hidden" name="long" class="long">
        <button type="submit" >전송</button>
<!--        <button type="button" onClick="upload()">Save</button>-->
    </form>
    <script onload="geolocation()">
    //var url = "{% url 'Camera_app:fileupload' %}";
    // var user_id = "xxxx";
    function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;
        let x = document.getElementsByClassName("lat")[0];
        let y = document.getElementsByClassName("long")[0];
        x.innerText= latitude;
        y.innerText= longitude;


        //window.location=url + "?" +"latitude=" + latitude + "&" + "longitude=" + longitude;
    }
    function error(position) {
            //HTTPS가 아니거나 위치수집 동의를 안 할 경우
            alert("위치수집 동의를 해주세요")

        }

    if(!navigator.geolocation) {
        //Geolocation API를 지원하지 않는 브라우저일 경우
        alert(" 현 브라우저가 위치수집을 지원하지 않습니다.\n 다른 브라우저를 이용해주세요 ")

        } else {
        //Geolocation API를 지원하는 브라우저일 경우

        var optn = {enableHighAccuracy : true, timeout : 30000, maximumage: 0};
        function geolocation(){navigator.geolocation.getCurrentPosition(success, error,optn);}
        }
    </script>

<!--    <script>-->
<!--    -->
<!--        function(){-->
<!--                const form = new FormData();-->
<!--                form.append('img',img.current.files[0]);-->
<!--                fetch ('{% url 'Camera_app:fileupload' %}',{-->
<!--        method: 'post',-->
<!--        encType: 'multipart/formdata',-->
<!--        body: form-->
<!--        })-->
<!--                }-->
<!--    </script>-->
</div>

{% endblock%}