{% load static %}
<footer class="footer text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center mb-3">
                <a href="#page-top">
                    <img class="navbar-brand" src="{% static 'assets/img/PZone_logo.png' %}" width="30" height="30">
                </a>
                <p class="text-uppercase mb-4">PZone</p>
            </div>
        </div>
    </div>

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
    </div>
</footer>

